.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 65px);
    background-color: black;
    text-align: center;
    align-items: center;
    grid-template-areas: 
    "aa aa aa aa"
    "bb bb bb bb"
    "cc cc cc cc"
    "dd dd dd dd"
    "ee ee ee ee";
    padding: 5px;
}
.item{
    color: black;
    background-color: rgb(216, 216, 216);
    padding: 21px;
    margin: 2px;
    font-weight: 600;
    cursor: pointer;
}
.item_C{
    background-color: red;
}
.equal{
    grid-area: ee;
    background-color: rgb(216, 216, 216);
    padding: 20px 0;
    margin: 4px 0;
    font-weight: 600;
    cursor: pointer;
}